@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
}
main {
  display: flex;

}

main #picture {
    width: 60%;
    background-image: url("https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?cs=srgb&dl=blur-business-coffee-commerce-273222.jpg&fm=jpg");     height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

main #content {
  background-color: #2b580c;
  color: #d8ebb5;
  width: 40%;
  height: 700px;
  padding: 60px 40px 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#found-me {
  display: flex;
  justify-content: space-between;
}

#found-me h6 {
  color: #d9bf77;
  font-size: 16px;
}

button {
  color: #d8ebb5;
  background-color: #639a67;
  border:  0;
  padding: 5px;
  border-radius: 5%;
}

button:hover {
  color: #d8ebb5;
  background-color: #d9bf77;
}

#content h2 {
  color: #d9bf77;
  font-size: 16px;
}

#social-media img {
  width: 50px;
}

#social-media {
  display: flex;
  justify-content: space-around;
}
